<!--
  The Footer
-->

<footer class="d-flex w-100 justify-content-center">
  <div class="d-flex justify-content-between align-items-center w-100">
      <div class="footer-left">
          <p class="mb-0">
              © {{ 'now' | date: "%Y" }}
              <a href="{{ site.social.links[0] }}">{{ site.social.name }}</a>.
              {% if site.data.rights.brief %}
              <span data-toggle="tooltip" data-placement="top" 
                  title="{{ site.data.rights.verbose }}">{{ site.data.rights.brief }}</span>
              {% endif %}
          </p>
      </div>
      
      <div class="footer-right">
          <a href='https://ko-fi.com/dorhydrog' 
             class='kofi-button' 
             style='background-color: #212529; color: white; text-decoration: none; padding: 5px 15px; border-radius: 4px; display: inline-flex; align-items: center;' 
             target='_blank'>
              <img src='https://storage.ko-fi.com/cdn/cup-border.png' 
                   alt='Ko-fi' 
                   style='height: 13px; margin-right: 5px;'>
              Coffee me
          </a>
      </div>
  </div>
</footer>